

<link rel="stylesheet" type="text/css" href="~/css/About.css">
<body>
	<div class="sherplex-light">
		<h2 class="text-center mb-3">Добре дошли в <span class="text-goldenrod">Sherplex Tickets</span> - Открийте магията на киното!</h2>

		<div class=" container-xl align-items-center mb-5">
			<p class="text-start lh-sm fs-5">
				В <span class="text-goldenrod">Sherplex Tickets</span>, ние сме страстни по отношение на очарователния свят на филмите и незабравимите преживявания, които те предлагат. Нашата платформа е създадена, за да ви даде възможност да откривате най-новите филми, да разглеждате програми и да си осигурите билети за най-горещите кино изживявания.
			</p>
		</div>

		<div class="container-lg">
			<div class="row">
				<div class="col">
					<h4 class="mb-3">Защо <span class="text-goldenrod">Sherplex Tickets?</span> </h4>
					<ol>
						<li>
							<p class="lh-sm fs-5"><strong>Пълна програма с филми:</strong> Потопете се в нашия обширен каталог от филми, вариращи от блокбастъри до инди бисери. С подробна информация за жанрове, синопсиси, актьорски състав и екип, откриването на вашето следващо кино приключение е по-лесно от всякога.</p>
						</li>
						<li>
							<p class="lh-sm fs-5">Удобно резервиране: Нашият потребителски приятелски интерфейс ви позволява да разглеждате списъка с филми, да избирате часове за прожекции и да резервирате билети с лекота. Кажете сбогом на дългите опашки и здравейте на безпроблемното резервиране.</p>
						</li>
						<li>
							<p class="lh-sm fs-5">Актуализации на програмата в реално време: Бъдете информирани с актуализации в реално време за часовете на прожекциите, местоположенията на местата и наличността на билети. Без значение дали планирате нощ извън с приятели или соло кино маратон, ние сме тук, за да ви покрием.</p>
						</li>
						<li>
							<p class="lh-sm fs-5">Ексклузивни оферти: Отключете специални сделки, отстъпки и промоции, достъпни само за потребителите на Sherplex Билети. Насладете се на спестявания на билети, концесии и още много други, докато се отправяте към вашето кино пътешествие.</p>
						</li>
						<li>
							<p class="lh-sm fs-5">24/7 Обслужване на клиенти: Имате въпроси или се нуждаете от помощ? Нашият отдаден екип за поддръжка на клиенти е на разположение през цялото време, за да предостави персонализирана помощ и да гарантира безпроблемно кино изживяване.</p>
						</li>
					</ol>
				</div>
				<div class="col">
					<h4 class="mb-3">Изпитайте разликата с <span class="text-goldenrod">Sherplex Tickets</span></h4>
					<div class="paragraph">
						<p class="lh-sm fs-5"><span class="text-goldenrod">Sherplex Tickets</span> не е просто платформа за билети; това е вашият портал към незабравими кино приключения. Без значение дали сте киноман, търсещ най-новите издания, или случаен зрител, търсещ опции за забавление, Sherplex Билети има нещо за всеки.</p>
						<p class="lh-sm fs-5">Присъединете се към общността на <span class="text-goldenrod">Sherplex Tickets</span> днес и се потопете в магията на киното. Вашето следващо велико кино изживяване ви очаква!</p>
						<p class="lh-sm fs-5">Запалете страстта си към филма. Разгледайте с <span class="text-goldenrod">Sherplex Tickets</span>.</p>

						<a asp-area="" asp-controller="Movie" asp-action="All" class="btn btn-outline-goldenrod btn-sh">Разгледайте нашите филми</a>
						<a asp-area="" asp-controller="MovieTheater" asp-action="All" class="btn btn-outline-goldenrod btn-sh">Разгледайте нашите киносалони</a>
					</div>

				</div>
			</div>
		</div>
	</div>
</body>
