body {
    background-image: url(/images/MovieAll.PNG);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    
    
}

.text-center.mt-4.mb-3 {
    background: rgb(17, 31, 52);
    padding: 10px;
    margin: 0 auto;
    width: 30rem;
    border-radius: 1rem;
    box-shadow: 0px 4px 35px 0px rgb(255, 255, 255);
    border: 2px solid white;
}

#container {
    background: rgb(17, 31, 52);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.search-container {
    margin: 2rem 0 ;
}
.text-center.mb-4 {
    padding-top: 15px;
}
.btn-success {
    background-color: goldenrod;
    color: rgb(17, 31, 52);
}

form {
    display: flex;
    justify-content: center;
}

.form-group.col-md-3 {
    flex-grow: 1;
}

.card.h-100.text-center {
    width: 100%;
    background-color: rgb(17, 31, 52);
    border-radius: 1rem;
}

.card-img-top {
    height: 25rem;
    object-fit: cover;
    border-radius: 1rem;
}

div[style="position: absolute; bottom: 0; right: 0;"] {
    background-color: rgb(17, 31, 52);
    color: white;
    padding: 5px;
    border-radius: 0.3rem;
}

div[style="position: absolute; top: 0; start:0;"] {
    background-color: rgb(17, 31, 52);
    color: white;
    padding: 5px;
    border-radius: 0.3rem;
}

.card-body.text-lg-center {
    margin: 0 auto;
}

.card-title {
    color: white;
    text-decoration: none;
}
