body {
    background-image: url(/images/DeleteMovieTheater.PNG);
    background-repeat: repeat-x;
    background-size: auto 100%;
}

.card {
    background-color: rgb(17, 31, 52);
    box-shadow: 0 0 10px rgb(17, 31, 52);
    border-radius: 1rem;
    border: 2px solid white;
}

.card-container {
    box-shadow: 0px 4px 35px 0px rgb(255, 255, 255);
}
.col-md-12 {
    color: wheat;
    border: 2px solid goldenrod;
    border-radius: 1rem;
    margin-bottom:1rem;
}
.title {
    color: goldenrod;
    padding: 1rem 0;
}

.img-container {
    position: relative;
}

.card-img-top {
    max-width: 25rem;
    max-height: 40rem;
    border-radius: 1rem;
    height: 15rem;
    object-fit: fill;
}

.duration {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: rgb(17, 31, 52);
    color: white;
    padding: 5px;
    border-radius: 0.3rem;
}

.release-date {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(17, 31, 52);
    color: white;
    padding: 5px;
    border-radius: 0.3rem;
}

.card-body.text-lg-center {
    margin: 0 auto;
    padding-bottom: 0px;
    padding-top: 0.3rem;
    text-decoration: none !important;
}


.text-danger {
    color: #dc3545;
    padding-top: 1.2rem;
}
